.bigtext {
	border: 1px solid gray;
	font-size: 100%;
	height: 300px;
	margin: 0;
	padding: 3px;
	width: 492px;
}

.centerize {
	display: block;
    margin: 0 auto;
    text-align: center;
}

#cleartag {
	display: inline-block;
	font-family: verdana;
	font-size: 12;
	padding-top: 32px;
	text-align: center;
	vertical-align: top;	
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.field {
	background-color: #D5F3D3;
	border-radius: 4px;
	font-size: large;
	padding: 5px 10px 10px 10px;
	width: 500px;
	list-style-type: none;
}

.field ul {
	list-style-type: none;
	margin-left: -40px;
}

.fieldgrouptitle {
	background-color: #D5F3D3;
	border-radius: 4px;
	font-size: large;
	padding: 5px 10px 10px 10px;
	width: 250px;
	list-style-type: none;
}

.fieldprivacy {
	background-color: #D5F3D3;
	border-radius: 4px;
	font-size: large;
	padding: 5px 10px 10px 10px;
	width: 80px;
	list-style-type: none;
}

.fieldprivacy ul {
	list-style-type: none;
	margin-left: -40px;
}


.headerimg {
	display: inline-block;
	height: 100px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 100px;

}


#id_group {
	height: 50px;
	font-size: 24;
	width: 250px;
}

#id_prayer {
	border: 1px solid gray;
	font-size: 14;
	margin-top: 5px;
	vertical-align: text-top;
	width: 500px;
}

#id_subject {
	height: 50px;
	font-size: 24;
	width: 500px;
}

.littletext {
	border: 1px solid gray;
	font-size: 100%;
	margin: 0;
	padding: 3px;
	width: 492px;

}

#loginfield {
	padding-top: 40px;
	text-align: center;
}

.logout {
	background-color: white;
	float: right;
	text-decoration: none;
	vertical-align: top;
}

.logouttext {
	background-color: transparent;
	float: right;
	margin-right: 35px;
	margin-top: 2px;
	padding: 0px;
	text-decoration: none;
	vertical-align: top;
}

#managegroups {
	text-decoration: none;
	cursor: hand;
	position: relative;
}

#managegroups a:visited {
	text-decoration: none;
	cursor: hand;
	color: blue;
}

#mygroups {
	text-align: right;
	float: right;
	display: inline-block;
	list-style: none;
	color: blue;
	text-decoration: underline;
	background-color: white;
	right:5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	position: absolute;
	z-index: 1;

}

#mygroupsfirst {
	font-weight: bold;
	cursor: default;
}

.nextprev {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:3px 10px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	margin-left: 25px;

}


#number {
	float: left;
	font-size: 20;
	padding-top: 8px;
	width: 20px;
}

#populargroups {
	border-bottom: 1px solid gray;
	background-color: white;
	width: 100%;
	margin-top: -20px;
	display: inline-block;
	overflow: hidden;
	padding: 0;
}

#populargroupslist {
	width: auto;
	display: inline-block;
	padding: 0;
	margin-bottom: 5px;

}

.populargroupitem {
	display: inline-block;
	list-style-type: none;
	white-space: nowrap;
	padding-bottom: 5px;
}

.populargroupitem a {
	text-decoration: none;
}

.populargroupitem a:visited{
	color: rgb(0, 0, 238);
	text-decoration: none;
}

.populargroupitemselected {
	display: inline-block;
	/*padding: 1px;*/
	text-decoration: none;
}

.populargroupitemselected a {
	color: red;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;

}

.populargroupitemselected a:visited {
	color: red;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;

}

#postsubject {
	font-family: cursive;
	font-size: 40;
	text-align: center;
}

#poststamp {
	display: block;
	font-size: 14;
	text-align: right;
}

#postprayer {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 20;
	margin-left: 300;
	margin-right: 300;
	text-align: center;
}

#prayer {
	text-align: center;
}

#prayers {
 	background-position: top;
 	clear: left;
 	display: inline-block;
 	padding-top: 20px;
 	width: 85%;
 }

 #prayerscore {
	font-family: Verdana;

}

.prayerscorehome {
	text-align: left;
	display: block;
	font-size: 16;
	padding-left: 31px;
	width: auto;
	float: left;
	font-weight: bold;

}

 #prayerstop {
 	background-position: top;
 	clear: left;
	display:block;
 	overflow: hidden; 	
 	padding-top: 50px;
 	width: 85%;
}

#regform {
	text-align: center;
}

#rightsidebar {
	clear:right;
	display: inline-block;
	float:right;
}

.savedgroup {
	cursor: hand;
	text-decoration: none;
}

.savedgroup a {
	cursor: hand;
	text-decoration: none;

}

.savedgroup a:visited {
	cursor: hand;
	text-decoration: none;
	text-transform: none;
	color: blue;
	
}

.savedgrouphover {
	background-color: #BACDE8;
	text-decoration: none;

}


.separator {
	color: gray;
	padding-top: 3px;
	position: absolute;
	font-size: 19;


}

.spacer {
	display: block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 5px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 2px;
	line-height: normal;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 520px;
}

#subject {
	color: rgb(0, 0, 255);
	float: left;
	font-family: verdana;	
	font-size: 27;
	padding-left: 10px;
	text-align: left;
}

.submitbutton {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	float: right;
	padding:8px 20px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:15px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;	
}

.submitbutton:hover {
	background:#2F2060;
	background:-moz-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F2060),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:linear-gradient(top,#2F2060 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	color:#cfebf3;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	float: right;
	font-family:'Helvetica Neue',sans-serif;
	font-size:15px;
	-moz-border-radius:40px;
	padding:8px 20px;
	-webkit-border-radius:40px;
}

.sub_groupname {
	display: inline-block;
	text-decoration: none;
}

.sub_groupname a{
	text-decoration: none;
}

.subscribe { 
	display: inline-block;
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:5px 10px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:15px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;	

}


.suggestedgroupitem {
	display: inline;
	list-style-type: none;
	white-space: nowrap;
}

.suggestedgroupitem a {
	text-decoration: none;
}

.suggestedgroupitem a:visited {
	color: rgb(0, 0, 238);
	text-decoration: none;
}

.suggestedgroupitem a:hover {
	color: rgb(0, 0, 238);
	text-decoration: underline;
}

.timestamp {
	display: inline-block;
	font-size: 16;
	float: left;
	margin-left: 5px;
}

#title {
	display: inline-block;
	font-family: Garamond;
	font-size: 30;
	vertical-align: text-bottom;
}

#timedropdown {
	background-color: rgb(255, 255, 255);
	display: block;
	margin: 0;
	position: absolute;
	text-align: center;
	padding: 0;
}

#timedropdownul {
	display: block;	
	list-style-type: none;
	position: relative;
	text-align: left;
	padding-left: 15px;
	padding-right: 10px;
}

.timedropitem {
	margin: 1px;
	overflow: hidden;
	text-decoration: none;
	text-align: left;
}

#timedropdownul a {
	color: #297A2C;
	text-decoration: none;
}

#timedropdownul a:visited {
	text-decoration: none;
}

.timedrophover {
	background-color: #D5F3D3;
	text-decoration: none;
}

.timedropselected {
	color:  #424242;
	font-weight: bold;
	padding: 2px;
	margin: 0;
	text-align: left;
	text-decoration: underline;
	cursor: default;
}

.tabmenu {
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	height: 40px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 0px;
	padding-top: 0px;
	width: 200px;
}

.tabmenu li {
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	white-space: nowrap;
	width: auto;

}

.tabmenu li a {
	background-color:#D5F3D3;
	color: #1B5022;
	cursor: auto;
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	width: auto;
}

.tabmenu .selected a {
	background-color:#FAFAFA;
	border: groove;
	color: #1B5022;
	cursor: auto;
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: inherit;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 1px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	width: auto;
	
}

#tagtitle {
	display: inline-block;
	font-family: sans-serif;
	font-size: 40px;
	padding-top: 30px;
	padding-left: 10px;
	text-align: center;
}

#tagtitlediv {
	display: inline-block;
}

#topnav {
	background-image: url("/static/Clouds.svg");
	border-bottom: solid;
	border-width: 1px;	
	position: relative;
	margin-top: -6px;

}


.topsavebutton {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	color:#cfebf3;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:3px 8px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:11px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	display: block;
	margin: 0 auto;

}

.topsavebuttonhover {
	display: block; 
	text-align: center;
	margin: 0 auto;

}


ul.errorlist {
    margin: 0;
    padding: 0;
}

#upvote {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	color:#cfebf3;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:8px 20px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:15px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
}

#upvote:hover {
	background:#2F2060;
	background:-moz-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F2060),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:linear-gradient(top,#2F2060 0%,#008DB8 100%);
	border:1px solid #095B7E;
	border-radius:40px;
	color:#cfebf3;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	font-family:'Helvetica Neue',sans-serif;
	font-size:15px;
	padding:8px 20px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;	
}

#youpray {
	color: green;
	font-weight: bold;
}    