#title {
	display: inline-block;
	font-family: Garamond;
	font-size: 30;
	vertical-align: text-bottom;

}

#prayers {
 	background-position: top;
 	padding-top: 20px;
 	display: inline-block;
 	clear: left;
 	width: 50%;

 }

#prayerstop {
 	overflow: hidden; 
 	background-position: top;
 	padding-top: 40px;
 	display: inline-block;
 	clear: left;
 	width: 50%;
}

#subject {
	text-align: left;
	font-family: Verdana;
	float: left;
	padding-left: 10px;
	font-size: 27;
	color: rgb(0, 0, 255);
	/*padding-top: 4px;*/
}

#prayer {
	text-align: center;
}

#loginfield {
	text-align: center;
	padding-top: 40px;
}

.timestamp {
	display: block;
	padding-left: 150px;
	font-size: 14;
	text-align: left;

}
.timestampshift1 {
	padding-left: 160px;
	font-size: 14;
	display: block;
	text-align: left;
}

#number {
	float: left;
	font-size: 20;
	padding-top: 8px;
}

.headerimg {
	height: 100px;
	width: 100px;
	display: inline-block;
	padding-bottom: 0px;
	margin-bottom: 0px;

}

.seperator {
	height: 50px;
	width: 50px;
}

#timedropdown {
	text-align: center;
	display: block;
	position: absolute;
	background-color: rgb(255, 255, 255);
	margin: 0;
	text-align: left;
}

#timedropdownul {
	list-style-type: none;
	display: block;	
	position: relative;
	text-align: left;

}


.timedropitem {
	margin: 1px;
	overflow: hidden;
	text-decoration: none;
	text-align: left;


}

#timedropdownul a {
	text-decoration: none;
	color: #297A2C;
}

#timedropdownul a:visited {
	text-decoration: none;

}

.timedrophover {
	background-color: #D5F3D3;
	text-decoration: none;
}

.timedropselected {
	text-align: left;
	padding: 2px;
	margin: 0;
	text-decoration: underline;
	font-weight: bold;
	color:  #424242;
}



/*.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-right: 5px;
	border-top: 5px solid #f00;
	position: absolute;
	margin-top: 8px;
	margin-left: 45px;
	display: inline
}*/


.submitbutton:hover {
	background:#2F2060;
	background:-moz-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F2060),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:linear-gradient(top,#2F2060 0%,#008DB8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:8px 20px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #095B7E;
	float: right;
	cursor: hand;
}

#postsubject {
	text-align: center;
	font-family: cursive;
	font-size: 40;
}

#poststamp {
	text-align: right;
	display: block;
	font-size: 14;
}

#postprayer {
	text-align: center;
	font-size: 20;
	font-family: verdana, arial, helvetica, sans-serif;
}

.tabmenu {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 200px;
	height: 40px;
  	display: inline;
  
}

.tabmenu li {
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	white-space: nowrap;
	width: auto;
	border-radius: 
}

.prayerscore {
	font-family: Verdana;

}

.prayerscorehome {
	text-align: left;
	padding-top: 10px;
	font-family: Verdana;
	float: left;
	padding-left: 10px;
}

.tabmenu li a {
	background-color:#D5F3D3;
	color: #1B5022;
	cursor: auto;
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	width: auto;
}

.tabmenu .selected a {
	background-color:#FAFAFA;
	color: #1B5022;
	cursor: auto;
	display: inline;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: inherit;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 1px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	width: auto;
	border: groove;
}

#topnav {
	border-bottom: solid;
	border-width: 1px;
	background-image:url("http://openclipart.org/people/Clue/Clue_Simple_Clouds.svg")
}

.submitbutton {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:8px 20px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #095B7E;
	float: right;
	cursor: hand;
}

.roundfield {
	width: 500px;
	background-color: #D5F3D3;
	border-radius: 4px;
	padding: 5px 10px 10px 10px;
	font-size: large;
}
.roundfield-content {
	margin-top: 5px;
	border: none;
	vertical-align: text-top;
}
.field{
	width: 500px;
	background-color: #D5F3D3;
	border-radius: 4px;
	padding: 5px 10px 10px 10px;
	font-size: large;
}
.littletext {
	font-size: 100%;
	width: 492px;
	padding: 3px;
	margin: 0;
	border: 1px solid gray;

}
.bigtext {
	font-size: 100%;
	width: 492px;
	height: 300px;
	padding: 3px;
	margin: 0;
	border: 1px solid gray;

}
.spacer {
	display: block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 5px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 2px;
	line-height: normal;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 520px;
}

#id_prayer {
	margin-top: 5px;
	border: 1px solid gray;
	vertical-align: text-top;
	width: 500px;
	font-size: 14;
}

ul.errorlist {
        margin: 0;
        padding: 0;
    }
.errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }

#id_subject {
	width: 500px;
	height: 50px;
	font-size: 24;
}
.logout {
	vertical-align: top;
	float: right;
	text-decoration: none;
	background-color: white;
}

.logouttext {
	vertical-align: top;
	float: right;
	text-decoration: none;
	background-color: white;
	margin-top: 2px;
	padding: 0px;
	margin-right: 35px;
}

.centerize {
	display: block;
    margin: 0 auto;
    text-align: center;}

#youpray {
	color: green;
	font-weight: bold;
}

#rightsidebar {
	float:right;
	display: inline-block;
	clear:right;
	
}

#upvote {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:8px 20px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #095B7E;
	cursor: hand;
}

#upvote:hover {
	background:#2F2060;
	background:-moz-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F2060),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#2F2060 0%,#008DB8 100%);
	background:linear-gradient(top,#2F2060 0%,#008DB8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:8px 20px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #095B7E;
	cursor: hand;
}