<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/new.css" />
	{% block script %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div id="topnav">
		<!-- <h1 id="title">PrayList</h1> -->
		{% if user.is_authenticated %}
		<p>logged in as {{ user.username }}</p>
		<a href="/accounts/logout/"><button class="logout">LogOut</button></a>
		{% else %}
		<p>not logged in</p>
		<a href="/accounts/login/"><button class="logout">LogIn</button></a>
		{% endif %}
		<a href="/"><img class="headerimg" src="/static/PrayingHands.bmp"></a>
		<a href="/submit/"><button class= "submitbutton">Submit New Prayer!</button></a>
		<ul class="tabmenu">
			{% if path == "/" %}
			<li class = "selected">
			{% else %}
			<li>
			{% endif %}
				<a href="/">Trending</a>
			</li>
			{% if path == "/new/" %}
			<li class = "selected">
			{% else %}
			<li>
			{% endif %}
				<a href="/new/">New</a>
			</li>
			{% if "top" in path %}
			<li class="selected">
			{% else %}
			<li>
			{% endif %}
				<a href="/top/">Top</a>
			</li>
		</ul>
		
	</div>
	{% block content %}{% endblock %}
	{% block footer %}
	<br>
	{% endblock %}
</body>
</html>