<html lang="en">
{% block head %}
<head>
	<link rel="stylesheet" type="text/css" href="/static/new.css" />
	<link rel="stylesheet" href="/static/prettyCheckable.css">
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/new.js"></script>
	<script src="/static/prettyCheckable.js"></script>
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/bootstrap.min.js"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
{% endblock %}
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
 	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=243118469067692";
  	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="populargroups">
		<ul id="populargroupslist">
			{% if "group" not in path and "post" not in path %}
			<li class="populargroupitemselected"><a class="populargrouplink" href="/">All Prayers</a><a style="display: block; text-align: center; opacity:0; cursor: default;">save</a></li>
			{% else %}
			<li class="populargroupitem"><a href="/">All Prayers</a><a style="display: block; text-align: center; opacity:0; cursor: default; padding:1;">save</a></li>

			{% endif %}
			{% for group in top_groups %}
			{% if "post" in path %}
				{% if this_group == group.groupname %}
				<li class="populargroupitemselected"> // <a class="populargrouplink" href="/group/{{ group.groupname }}/trending/">{{ group.groupname|lower }}</a>
				{% if user in group.users_favorited.all %}
						<button class="topsavebutton {{ group.groupname }}" onclick="unsubscribe({{ group.id }}, '{{ group.groupname }}', 'True')">unsave</button>
						{% else %}
						<button class="topsavebutton {{ group.groupname }}" onclick="subscribe({{ group.id }}, '{{ group.groupname }}', 'True')">save</button>
				{% endif %}
				</li>
				{% else %}
				<li class="populargroupitem"> // <a class="populargrouplink" href="/group/{{ group.groupname }}/trending/">{{ group.groupname|lower }}</a>
				{% if user in group.users_favorited.all %}
						<button class="topsavebutton {{ group.groupname }}" onclick="unsubscribe({{ group.id }}, '{{ group.groupname }}', 'True')">unsave</button>
						{% else %}
						<button class="topsavebutton {{ group.groupname }}" onclick="subscribe({{ group.id }}, '{{ group.groupname }}', 'True')">save</button>
				{% endif %}
				</li>
				{% endif %}
			{% else %}
				{% with "/group/"|add:group.groupname|add:"/" as parturl %}
				{% if parturl in path %}
				<li class="populargroupitemselected"> //
				<a class="populargrouplink" href="/group/{{ group.groupname }}/trending/">{{ group.groupname|lower }}</a>
					{% if user.is_authenticated %}
						{% if user in group.users_favorited.all %}
						<button class="topsavebutton {{ group.groupname }}" onclick="unsubscribe({{ group.id }}, '{{ group.groupname }}', 'True')">unsave</button>
						{% else %}
						<button class="topsavebutton {{ group.groupname }}" onclick="subscribe({{ group.id }}, '{{ group.groupname }}', 'True')">save</button>
						{% endif %}
					{% else %}
					<button class="topsavebuttonplaceholder" style="display: block; opacity: 0;">unsave</button>
					{% endif %}
				</li>
				{% else %}
					{% if user in group.users_favorited.all %}
					<li class="populargroupitem"> // 
					<a class="populargrouplink" href="/group/{{ group.groupname }}/trending/">{{ group.groupname|lower }}</a>
						{% if user.is_authenticated %}
						<button class="topsavebutton {{ group.groupname }}" onclick="unsubscribe({{ group.id }}, '{{ group.groupname }}', 'True')">unsave</button>
						{% else %}
						<button class="topsavebuttonplaceholder" style="display: block; opacity: 0;">unsave</button>
						{% endif %}
					</li>
					{% else %}
					<li class="populargroupitem"> // 
					<a class="populargrouplink" href="/group/{{ group.groupname }}/trending/">{{ group.groupname|lower }}</a>
						{% if user.is_authenticated %}
						<button class="topsavebutton {{ group.groupname }}" onclick="subscribe({{ group.id }}, '{{ group.groupname }}', 'True')">save</button>
						{% else %}
						<button class="topsavebuttonplaceholder" style="display: block; opacity: 0;">unsave</button>
						{% endif %}
					</li>
					{% endif %}
				{% endif %}
				{% endwith %}
			{% endif %}
			{% endfor %}
		</ul>
		{% if user.is_authenticated %}
		<a id="mypraylisttop" href="/mypraylist/">MyPraylist</a>
		<ul id='mygroups'>
		<li id="mygroupsfirst">My Groups</li>
		{% for group in saved_groups %}
		<li class="savedgroup"><a href="/group/{{ group.groupname }}/trending/">{{ group.groupname }}</a></li>
		{% empty %}
		<li class="savedgroupplaceholder"><a href="#">/</a></li>
		{% endfor %}
		<li id="managegroups"><a href="/managegroups/">Manage Groups</a></li>
		</ul>
		{% endif %}

		

	</div>

	<div id="topnav">
		{% if user.is_authenticated %}
        <a href="/accounts/logout/"><button class="logout">Logout</button></a>
        <div class="logouttext" style="color: ">Logged in as <span style="font-weight: bold;">{{ user.username }}</span></div>
        {% else %}
        <a href="/accounts/login/"><button class="logout">Login</button></a>
        {% endif %}
		<a href="/"><img class="headerimg" src="/static/PrayingHands.bmp"></a>
		<ul class="tabmenu">
			<!-- Trending button -->
			{% if path == "/" or "trending" in path %}
			<li class = "selected">
			{% else %}
			<li>
			{% endif %}
				{% if "group" in path %}
				<a href="/group/{{ groupname }}/trending/">Trending</a>
				{% elif "post" in path %}
				<a href="/group/{{ this_group }}/trending/">Trending</a>
				{% else %}
				<a href="/">Trending</a>
				{% endif %}
			</li>
			<!-- New button -->
			{% if "new" in path %}
			<li class = "selected">
			{% else %}
			<li>
			{% endif %}
				{% if "group" in path %}
				<a href="/group/{{ groupname }}/new/">New</a>
				{% elif "post" in path %}
				<a href="/group/{{ this_group }}/new/">New</a>
				{% else %}
				<a href="/new/">New</a>
				{% endif %}
			</li>
			<!-- Top Button -->
			{% if "top" in path %}
			<li class="selected">
			{% else %}
			<li>
			{% endif %}
				{% if "group" in path %}
				<a href="/group/{{ groupname }}/top/today">Top</a>
				{% elif "post" in path %}
				<a href="/group/{{ this_group }}/top/today">Top</a>
				{% else %}
				<a href="/top/">Top</a>
				{% endif %}
			</li>
			{% if "group" in path %}
        	<div id="tagtitle">{{ tagname|capfirst }} </div>
        	{% endif %}
		</ul>
		
	</div>
	{% block content %}{% endblock %}
	{% block sidebar %}
	{% endblock %}
</body>
</html>