{% extends "base.html" %}
{% block content %}
<a href="#" class="btn btn-success btn-small" style="float:right;"><i class="icon-white icon-pencil"></i> Edit </a>
<h1 style="text-align: center;">Daily Praylist</h1>

<div id="mypraylist">
    {% for saved_p in saved_prayers.all %}
        {% if saved_p in prayed_today %}
        <div class="savedprayercheckwrapper">
        <input type="checkbox" class="savedprayercheck {{ saved_p.id }}" name="box" display="none;" disabled /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px;"><a class="savedprayerlinks" href="/post/{{ saved_p.id }}/">{{ saved_p.subject }}</a></label>
        <br><br>
        </div>
        {% else %}
        <div class="savedprayercheckwrapper">
        <input type="checkbox" class="savedprayercheck {{ saved_p.id }}" name="box" /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px;"><a class="savedprayerlinks" href="/post/{{ saved_p.id }}/">{{ saved_p.subject }}</a></label>
        <br><br>
        </div>
        {% endif %}
    {% endfor %}
    <br><br><br>
    <form>
        <fieldset style="border:none;">
        <label>Add a prayer!</label>
        <br>
        <input type="text" placeholder="Type something…">
        <br>
        <button type="submit" class="btn">Submit</button>
        </fieldset>
    </form>
</div>

{% endblock %}