{% extends "base.html" %}
{% block content %}
<a href="#" class="btn btn-success btn-small editbutton" style="float:right;"><i class="icon-white icon-pencil"></i> Edit </a>
<script type="text/javascript">
    $('.editbutton').click(function(event) {
        event.preventDefault();
        $('.dangerbutton').toggleClass('hide')    
    });
</script>
<h1 style="text-align: center;">Daily Praylist</h1>
<div id="mypraylist">
    {% for saved_p in saved_prayers %}
    {% if saved_p.custom_prayer %}
        {% if saved_p in prayed_today %}
        <div class="savedprayercheckwrapper c{{saved_p.id}}">
        <a href="#" class="btn btn-danger btn-mini dangerbutton hide" onclick="deletedaily('c{{saved_p.id}}')"><i class="icon-white icon-minus-sign dangericon"></i></a>
        <input type="checkbox" class="savedprayercheck c{{ saved_p.id }}" name="box" display="none;" disabled /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px; padding-left: 5px;"> {{ saved_p.custom_prayer }}</label>
        </div>
        {% else %}
        <div class="savedprayercheckwrapper c{{saved_p.id}}">
        <a href="#" class="btn btn-danger btn-mini dangerbutton hide" onclick="deletedaily('c{{saved_p.id}}')"><i class="icon-white icon-minus-sign dangericon"></i></a>
        <input type="checkbox" class="savedprayercheck c{{ saved_p.id }}" name="box" display="none;" /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px; padding-left: 5px;"> {{ saved_p.custom_prayer }}</label>
        </div>
        {% endif %}
    {% else %}
        {% if saved_p in prayed_today %}
        <div class="savedprayercheckwrapper {{ saved_p.id }}">
        <a href="#" class="btn btn-danger btn-mini dangerbutton hide" onclick="deletedaily('{{saved_p.id}}')"><i class="icon-white icon-minus-sign dangericon"></i></a>    
        <input type="checkbox" class="savedprayercheck {{ saved_p.id }}" name="box" display="none;" disabled /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px;"><a class="savedprayerlinks" href="/post/{{ saved_p.id }}/">{{ saved_p.subject }}</a></label>
        </div>
        {% else %}
        <div class="savedprayercheckwrapper {{ saved_p.id }}">
        <a href="#" class="btn btn-danger btn-mini dangerbutton hide" onclick="deletedaily('{{saved_p.id}}')"><i class="icon-white icon-minus-sign dangericon"></i></a>
        <input type="checkbox" class="savedprayercheck {{ saved_p.id }}" name="box" display="none;" /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px;"><a class="savedprayerlinks" href="/post/{{ saved_p.id }}/">{{ saved_p.subject }}</a></label>
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
    <!-- {% for saved_p in saved_prayers %}
    <div class="savedprayercheckwrapper">
        <p>{{ saved_p.custom_prayer }}</p>
        <br><br>
        </div> -->
       <!--  {% if saved_p in prayed_today %}
        <div class="savedprayercheckwrapper">
        <input type="checkbox" class="savedprayercheck {{ saved_p.id }}" name="box" display="none;" disabled /><label for="box" style="vertical-align: top; display: inline-block; padding-top: 6px;"><a class="savedprayerlinks" href="/post/{{ saved_p.id }}/">{{ saved_p.subject }}</a></label>
        <br><br>
        </div>
        {% else %} -->
        <!-- {% if saved_p.custom_prayer %} -->

        <!-- {% endif %} -->
        <!-- {% endif %} -->
    <!-- {% endfor %} -->
    <br><br><br>
    <form method="post" id="newcustomprayer"> {% csrf_token %}   
        <fieldset style="border:none;">
        <label for="newprayer">Add a prayer!</label>
        {{ form.newprayer }}
        <br>
        <button type="submit" class="btn">Submit</button>
        </fieldset>
    </form>
</div>

{% endblock %}