{% extends "base.html" %}
{% block title %}new{% endblock %}

{% block content %}
	{% for prayer in prayers %}
	<br />
	<div id="prayers">
		<div id="number">{{ forloop.counter }}</div>
		<a href= "/post/{{ prayer.id }}/" ><div id="subject"> {{ prayer.subject }} </div></a>
		<br>
		<br>
		{% for timestamp in timestamps %} 
			{% if timestamp == forloop.parentloop.counter %}
				{% if prayer.timestamp|timesince == "0 minutes" %}
				<div id="timestamp"> Posted just now </div>
				{% else %}
				<div id="timestamp"> Posted {{ prayer.timestamp|timesince }} ago </div>
				{% endif %}
			{% endif %}
		{% endfor %}
		 
	</div>

	<!-- <h3 style="text-align: center;">{{ prayer.subject }}  </h3>
	<h5 style="text-align: right; inline:">Posted on {{ prayer.timestamp }}</h5>
	<p style="text-align: center;">{{ prayer.prayer }}</p>
	 -->
	 {% endfor %}
{% endblock %}