{% extends "base.html" %}
{% block title %}Post Page{% endblock %}
{% block content %}
	<div class="centerize"> {% csrf_token %}
		<p id="poststamp">Posted {{ timestamp }} </p>
		<h1 id="postsubject">{{ subject }}</h1>
		<p class="prayerscore">Prayerscore: {{ prayerscore }} </p>
		<img class="seperator" src="/static/PrayingHands.bmp" />
		<p id="postprayer">{{ prayer }} <p>
		{% if userid in users.all %}
			<p id="youpray">√ You've prayed for this!</p>
		{% else %}
			<button id="upvote" onclick="voteitem({{ id }})" return false;>I prayed for this! </button>
		{% endif %}
		<div class="fb-like" data-href="http://127.0.0.1:8000{{ path }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>

	</div>
{% endblock %}