{% extends "base.html" %}
{% block content %}
	<h1 class = >Submit a Prayer</h1>

	{% if form.errors %}
		<p style="color: red;">
			Please correct the error{{ form.errors|pluralize }} below.
		</p>
	{% endif %}

	<form action="" method="post"> {% csrf_token %}
        <div class="field">
            {{ form.subject.errors }}
            <label for="subject">Subject:</label>
            {{ form.subject }}
        </div>
        <div class="spacer"></div>
        <div class="field">
            {{ form.prayer.errors }}
            <label for="prayer">Prayer:</label>
            {{ form.prayer }}
        </div>
        <div class="spacer"></div>
        <div class="field">
            {{ form.group.errors }}
            {% if doesnotexist %}
            <a href="/submitgroup/">Click here to create it!</a>
            <br>
            {% endif %}
            <label for="group">Group:</label>
            {{ form.group }}
            <br>
            <br>
            <div>Popular Groups:</div>
            <ul class="suggestedgroup">
            {% for group in top_groups %}
                <li class="suggestedgroupitem"><a href="/submit/group/{{ group.groupname }}/">{{ group.groupname }}</a>,</li>
            {% endfor %}
            </ul>
        </div>
        <input type="submit" value="Submit">

    </form>
    <script type="text/javascript">
        $('.suggestedgroupitem a').click(function(event) {
            event.preventDefault();
            var grouptext = $(event.currentTarget).text();
            $('#id_group').val(grouptext);
        });

    </script>
</body>
</html>
{% endblock %}