{% extends "base.html" %}
{% block title %}top{% endblock %}
{% block content %}
    {% if "week" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Week</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% elif "month" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Month</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% elif "year" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Year</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% elif "all" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">All Time</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
        </ul>   
    </div>
    {% else %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">Today</li>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% endif %}

    {% include "displayprayers.html" %}
{% endblock %}
