{% extends "base.html" %}
{% block title %}top{% endblock %}
{% block content %}
    {% if "tag" in path %}
    <div id="tagtitle"># {{ tagname }} </div>
    <a href="/"><div id="cleartag">clear tag</div></a>
    {% endif %}
    {% if "week" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Week</li>
            <!-- if tag in path, link to top with tags -->
            {% if "tag" in path %}
            <a href="/tag/{{ tagname }}/top/today/"><li class="timedropitem">Today</li></a>
            <a href="/tag/{{ tagname }}/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/tag/{{ tagname }}/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/tag/{{ tagname }}/top/all/"><li class="timedropitem">All Time</li></a>
            {% else %}
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
            {% endif %}
        </ul>   
    </div>
    {% elif "month" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Month</li>
            {% if "tag" in path %}
            <a href="/tag/{{ tagname }}/top/today"><li class="timedropitem">Today</li></a>
            <a href="/tag/{{ tagname }}/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/tag/{{ tagname }}/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/tag/{{ tagname }}/top/all/"><li class="timedropitem">All Time</li></a>
            {% else %}
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
            {% endif %}
        </ul>   
    </div>
    {% elif "year" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Year</li>
            {% if "tag" in path %}
            <a href="/tag/{{ tagname }}/top/today"><li class="timedropitem">Today</li></a>
            <a href="/tag/{{ tagname }}/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/tag/{{ tagname }}/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/tag/{{ tagname }}/top/all/"><li class="timedropitem">All Time</li></a>
            {% else %}
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
            {% endif %}
        </ul>   
    </div>
    {% elif "all" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">All Time</li>
            {% if "tag" in path %}
            <a href="/tag/{{ tagname }}/top/today"><li class="timedropitem">Today</li></a>
            <a href="/tag/{{ tagname }}/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/tag/{{ tagname }}/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/tag/{{ tagname }}/top/year/"><li class="timedropitem">This Year</li></a>
            {% else %}
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            {% endif %}
        </ul>   
    </div>
    {% else %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">Today</li>
            {% if "tag" in path %}
            <a href="/tag/{{ tagname }}/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/tag/{{ tagname }}/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/tag/{{ tagname }}/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/tag/{{ tagname }}/top/all/"><li class="timedropitem">All Time</li></a>
            {% else %}
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
            {% endif %}
        </ul>   
    </div>
    {% endif %}

    {% include "displayprayers.html" %}
{% endblock %}
