{% extends "base.html" %}
{% block title %}top{% endblock %}

{% block content %}
    {% if "week" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Week</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% elif "month" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Month</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% elif "year" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">This Year</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% elif "all" in path %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">All Time</li>
            <a href="/top/"><li class="timedropitem">Today</li></a>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
        </ul>   
    </div>
    {% else %}
    <div id="timedropdown">
        <ul id="timedropdownul">
            <li class="timedropselected">Today</li>
            <a href="/top/week/"><li class="timedropitem">This Week</li></a>
            <a href="/top/month/"><li class="timedropitem">This Month</li></a>
            <a href="/top/year/"><li class="timedropitem">This Year</li></a>
            <a href="/top/all/"><li class="timedropitem">All Time</li></a>
        </ul>   
    </div>
    {% endif %}

    <br />
    <div id="prayers">
    {% for prayer in prayers %}
    
            <div id="number">{{ forloop.counter }}</div>
            <div class="prayerscorehome">Prayerscore: {{ prayer.prayerscore }}</div>
            <a href= "/post/{{ prayer.id }}/" ><div id="subject"> {{ prayer.subject }} {% csrf_token %}</div></a>
            <br>
            <br>
            
            <!-- just now -->
            {% if prayer.timestamp|timesince == "0 minutes" %}
            <div id="timestamp"> Posted just now </div>
            <!-- 1 hour ago -->
            {% elif "hour" in prayer.timestamp|timesince and "day" not in prayer.timestamp|timesince %}
                {% if forloop.counter > 9 %}
                <div id="timestampshift1"> Posted {{ prayer.timestamp|timesince|slice:":6" }} ago </div>
                {% else %}
                <div id="timestamp"> Posted {{ prayer.timestamp|timesince|slice:":6" }} ago </div>
                <br>
                {% endif %}
            <!-- < 10 hours ago -->
            {% elif "hours" in prayer.timestamp|timesince and "," in prayer.timestamp|timesince|slice:":7" and "day" not in prayer.timestamp|timesince %}
                {% if forloop.counter > 9 %}
                <div id="timestampshift1"> blahPosted {{ prayer.timestamp|timesince|slice:":7" }} ago </div>
                {% else %}
                <div id="timestamp"> Posted {{ prayer.timestamp|timesince|slice:":7" }} ago </div>
                <br>
            {% endif %}
            <!-- > 10 hours ago -->
            {% elif "hours" in prayer.timestamp|timesince and "day" not in prayer.timestamp|timesince and "," not in prayer.timestamp|timesince|slice:":8" %}
                {% if forloop.counter > 9 %}
                <div id="timestampshift1"> Posted {{ prayer.timestamp|timesince|slice:":8" }} ago </div>
                {% else %}
                <div id="timestamp"> Posted {{ prayer.timestamp|timesince|slice:":8" }} ago </div>
                <br>
            {% endif %}
            <!-- 1 day ago -->
            {% elif "1 day" in prayer.timestamp|timesince %}
                {% if forloop.counter > 9 %}
                <div id="timestampshift1"> Posted {{ prayer.timestamp|timesince|slice:"5" }} ago </div>
                {% else %}
                <div id="timestamp"> Posted {{ prayer.timestamp|timesince|slice:"5" }} ago </div>
                <br>
                {% endif %}
            <!-- > 1 day ago -->
            {% elif "days" in prayer.timestamp|timesince %}
                {% if forloop.counter > 9 %}
                <div id="timestampshift1"> Posted {{ prayer.timestamp|timesince|slice:"6" }} ago </div>
                {% else %}    
                <div id="timestamp"> Posted {{ prayer.timestamp|timesince|slice:"6" }} ago </div>
                <br>
                {% endif %}
            {% else %}
            {% if forloop.counter > 9 %}
            <div id="timestampshift1"> Posted {{ prayer.timestamp|timesince }} ago </div>
            {% else %}
            <div id="timestamp"> Posted {{ prayer.timestamp|timesince }} ago </div>
            <br>
            {% endif %}
            {% endif %}
    
    <br>
     </div>

    {% empty %}
    <p id="empty_prayers">There are no prayers matching this filter</p>
    {% endfor %}
 
{% endblock %}
